:root {
    --gap: 15px;
    --content-gap: 12px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(245, 245, 245);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --hljs-bg: rgba(255, 255, 255, 0.804);
    --code-bg: rgb(235, 235, 235);
    --code-color: rgb(58, 57, 57);
    --border: rgb(238, 238, 238);
    --border1: rgb(187, 183, 183);
    --blur-text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5); /* 亮色模式阴影 */
    --strong: rgb(63, 15, 107);
}

.dark {
    --theme: rgb(29, 30, 32);
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --hljs-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --code-color: rgb(213, 213, 214);
    --border: rgb(51, 51, 51);
    --blur-text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5); /* 暗色模式阴影 */
    --strong: rgb(144, 106, 179);
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
